@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,500i,600,600i,700,700i&display=swap');

body{
    padding: 0;
    margin: 0;
}

$mainColor:#ff5912;
$mainDarkColor: #34404b;
$colorGrey: #edeff1;
$defaultBack: #f4f6f8;

@import "mixins";
@import "header";
@import "mainSlider";
@import "popProducts";
@import "message";
@import "productCart";
@import "cart"
